[submodule "00Admin/actions"]
	path = 00Admin/actions
	url = git@github.com:krishnans2006/class-actions
[submodule "11Grade/AI"]
	path = 11Grade/AI
	url = git@github.com:krishnans2006/class-AI
[submodule "10Grade/APCS"]
	path = 10Grade/APCS
	url = git@github.com:krishnans2006/class-APCS
[submodule "11Grade/ap-econ"]
	path = 11Grade/ap-econ
	url = git@github.com:krishnans2006/class-ap-econ
[submodule "11Grade/ap-physics-c"]
	path = 11Grade/ap-physics-c
	url = git@github.com:krishnans2006/class-ap-physics-c
[submodule "11Grade/bc-calc"]
	path = 11Grade/bc-calc
	url = git@github.com:krishnans2006/class-bc-calc
[submodule "12Grade/linear"]
	path = 12Grade/linear
	url = git@github.com:krishnans2006/class-linear
[submodule "12Grade/ML"]
	path = 12Grade/ML
	url = git@github.com:krishnans2006/class-ML
[submodule "12Grade/multi"]
	path = 12Grade/multi
	url = git@github.com:krishnans2006/class-multi
[submodule "00Admin/new-class"]
	path = 00Admin/new
	url = git@github.com:krishnans2006/class-new
[submodule "12Grade/quantum"]
	path = 12Grade/quantum
	url = git@github.com:krishnans2006/class-quantum
[submodule "00Admin/template"]
	path = 00Admin/template
	url = git@github.com:krishnans2006/class-template
[submodule "10Grade/tj-math4"]
	path = 10Grade/tj-math4
	url = git@github.com:krishnans2006/class-tj-math4
[submodule "10Grade/tj-math5"]
	path = 10Grade/tj-math5
	url = git@github.com:krishnans2006/class-tj-math5
[submodule "college-apps"]
	path = 23College/college-apps
	url = git@github.com:krishnans2006/college-apps
[submodule "college-apps-doc"]
	path = 23College/college-apps-doc
	url = git@github.com:krishnans2006/college-apps-doc
[submodule "10Grade/ap-chem"]
	path = 10Grade/ap-chem
	url = git@github.com:krishnans2006/class-ap-chem
[submodule "12Grade/ap-lang"]
	path = 12Grade/ap-lang
	url = git@github.com:krishnans2006/class-ap-lang
[submodule "12Grade/ap-gov"]
	path = 12Grade/ap-gov
	url = git@github.com:krishnans2006/class-ap-gov
[submodule "12Grade/geosystems"]
	path = 12Grade/geosystems
	url = git@github.com:krishnans2006/class-geosystems
[submodule "11Grade/apush"]
	path = 11Grade/apush
	url = git@github.com:krishnans2006/class-apush
[submodule "24_25Fall/ECE120"]
	path = 24_25Fall/ECE120
	url = git@github.com:krishnans2006/class-ECE120
[submodule "24_25Fall/MATH213"]
	path = 24_25Fall/MATH213
	url = git@github.com:krishnans2006/class-MATH213
[submodule "24_25Fall/ECE110"]
	path = 24_25Fall/ECE110
	url = git@github.com:krishnans2006/class-ECE110
[submodule "24_25Fall/ANTH106"]
	path = 24_25Fall/ANTH106
	url = git@github.com:krishnans2006/class-ANTH106
[submodule "24_25Fall/MATH285"]
	path = 24_25Fall/MATH285
	url = git@github.com:krishnans2006/class-MATH285
[submodule "24_25Spring/ECE314"]
	path = 24_25Spring/ECE314
	url = git@github.com:krishnans2006/class-ECE314
[submodule "24_25Spring/ECE210"]
	path = 24_25Spring/ECE210
	url = git@github.com:krishnans2006/class-ECE210
[submodule "24_25Spring/ECE220"]
	path = 24_25Spring/ECE220
	url = git@github.com:krishnans2006/class-ECE220
[submodule "24_25Spring/ECE313"]
	path = 24_25Spring/ECE313
	url = git@github.com:krishnans2006/class-ECE313
[submodule "24_25Spring/PHYS213_214"]
	path = 24_25Spring/PHYS213_214
	url = git@github.com:krishnans2006/class-PHYS213_214
[submodule "25_26Fall/CS225"]
	path = 25_26Fall/CS225
	url = git@github.com:krishnans2006/class-CS225
[submodule "25_26Fall/ECE391"]
	path = 25_26Fall/ECE391
	url = git@github.com:krishnans2006/class-ECE391
[submodule "25_26Fall/ECE385"]
	path = 25_26Fall/ECE385
	url = git@github.com:krishnans2006/class-ECE385
[submodule "25_26Fall/PHYS370"]
	path = 25_26Fall/PHYS370
	url = git@github.com:krishnans2006/class-PHYS370
[submodule "25_26Fall/ECE385-project"]
	path = 25_26Fall/ECE385-project
	url = git@github.com:krishnans2006/fpga-flight-sim
[submodule "25_26Fall/ENG298CYB"]
	path = 25_26Fall/ENG298CYB
	url = git@github.com:krishnans2006/class-ENG298CYB
