[submodule "tj-math4"]
	path = 10Grade/tj-math4
	url = git@github.com:krishnans2006-classes/tj-math4
[submodule "AI"]
	path = 11Grade/AI
	url = git@github.com:krishnans2006-classes/AI
[submodule "bc-calc"]
	path = 11Grade/bc-calc
	url = git@github.com:krishnans2006-classes/bc-calc
[submodule "multi"]
	path = multi
	url = git@github.com:krishnans2006-classes/multi
[submodule "quantum"]
	path = quantum
	url = git@github.com:krishnans2006-classes/quantum
[submodule "ML"]
	path = ML
	url = git@github.com:krishnans2006-classes/ML
[submodule "ap-econ"]
	path = 11Grade/ap-econ
	url = git@github.com:krishnans2006-classes/ap-econ
[submodule "APCS"]
	path = 10Grade/APCS
	url = git@github.com:krishnans2006-classes/APCS
[submodule "00template"]
	path = 00Admin/template
	url = git@github.com:krishnans2006-classes/template
[submodule "00Admin/new-class"]
	path = 00Admin/new-class
	url = git@github.com:krishnans2006-classes/new-class
[submodule "10Grade/tj-math5"]
	path = 10Grade/tj-math5
	url = git@github.com:krishnans2006-classes/tj-math5
[submodule "11Grade/ap-physics-c"]
	path = 11Grade/ap-physics-c
	url = git@github.com:krishnans2006-classes/ap-physics-c
